# Don't upload raw data or outputs
data/
*.parquet
*.csv

# Ignore environment variables and keys
.env

# Jupyter checkpoints and temp files
.ipynb_checkpoints/
*.ipynb~*

# Exclude any old or backup notebooks
notebooks/[OLD]*

# Python-related
__pycache__/
*.pyc
